
	#2dViewer-hudMouseOver * { 
		-webkit-user-select: 	none;
		-moz-user-select: 		none;
		user-select:			none;
	}
		
	#2dViewer-hudMouseOver {
		padding: 5px;
	}
	
	#2dViewer-hud {
		background-color: rgb(70,70,70);	
		border: 1px solid white;
		border-radius: 5px;		
		padding: 10px;	
	}