
		#clearDiv {
			clear: both;
		}
		
		#ConfigurationAPI-popUpDialog {
			position: absolute;
			z-index: 1000;    
			border: 1px solid #770000;
		    background-color: #efeaea;
		    text-align: center;
		    padding: 10px;
			font-size: 16px;
			font-family: 'Inconsolata', monospace;	
			

			outline: 				none; /* to stop firefox selection*/
			-webkit-user-select: 	none; /* prevent selection*/
			-moz-user-select: 		none;
			user-select:			none;
		}
		
		#ConfigurationAPI-popUpDialog #clearDiv {
			clear: both;
		}
		
		#ConfigurationAPI-popUpDialog a {
			color: rgb(44, 44, 187);
		}
		
		#ConfigurationAPI-popUpDialog a:hover {
			pointer: cursor;
		}
		
		#ConfigurationAPI-popUpDialog h3, 
		#ConfigurationAPI-popUpDialog h1 {
			color: 				rgb(65, 86, 146);
			font-size: 			20px;
		}
		
		#ConfigurationAPI-popUpDialog .bold-header {
			color: 				rgb(81, 152, 204);
			font-size: 			16px;
		}
		
		#ConfigurationAPI-popUpDialog b {
			color: 				rgb(65, 86, 146);
			font-size: 			16px;
		}
		
		/*firefox seems to put an extra pixel of letter-spacing in bold words*/
		/* this seems to have been fixed by choosing the correct truetype font in font.css*/
		/*target firefox*/
		/*@-moz-document url-prefix() {  
			#ConfigurationAPI-popUpDialog b, #ConfigurationAPI-popUpDialog th {
				letter-spacing: -1px;
			}
			#ConfigurationAPI-popUpDialog h1, 
			#ConfigurationAPI-popUpDialog h2, 
			#ConfigurationAPI-popUpDialog h3, 
			#ConfigurationAPI-popUpDialog h4, 
			#ConfigurationAPI-popUpDialog h5, 
			#ConfigurationAPI-popUpDialog h6 {
				letter-spacing: -2px;
			}
		}*/
		
		/* make buttons have a hand cursor */
		#ConfigurationAPI-popUpDialog input[type="button"], 
		#ConfigurationAPI-popUpDialog button {
			cursor: pointer;
		}
		
		/* style text inputs */
		#ConfigurationAPI-popUpDialog input[type="text"], 
		#ConfigurationAPI-popUpDialog select {
			height: 			24px;
			margin:				5px;
			padding-left: 		5px;
			width: 				200px;
			border: 			1px solid rgb(171, 171, 230);
		}
		
		#ConfigurationAPI-popUpDialog .prevButton,
		#ConfigurationAPI-popUpDialog .nextButton {
			margin:				10px;
		}		
		
		.ConfigurationAPI-popUpDialog-editIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEdit.png);
			width: 				24px;
			height: 			20px;
			float: 				left;
			border: 			0;
			margin: 			-2px 0 -7px 10px;
			display:			none;
		}
		.ConfigurationAPI-popUpDialog-editIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
			cursor: 			pointer;
		}		

		.ConfigurationAPI-popUpDialog-deleteIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCan.png);
			width: 				16px;
			height: 			20px;
			border: 			0;
			margin: 			-9px 0 -10px 10px;
		}
		.ConfigurationAPI-popUpDialog-deleteIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCanHover.png);
			cursor: 			pointer;
		}
		
		.ConfigurationAPI-popUpDialog-preloadImage {			
			width: 				24px;
			height: 			20px;
			position:			absolute;
			left: 				-100000px;
			top: 				-100000px;
		}
		#ConfigurationAPI-popUpDialog-preloadImage-editIconHover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
		}
		#ConfigurationAPI-popUpDialog-preloadImage-treeEditTrashIconHover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCanHover.png);
		}
		
		
		/* bitmap CSS */
		
		.ConfigurationAPI-popUpDialog-bitmapDialog div {
			outline: 				none; /* to stop firefox selection*/
			-webkit-user-select: 	none; /* prevent selection*/
			-moz-user-select: 		none;
			user-select:			none;
		}
		
		#ConfigurationAPI-popUpDialog-bitmap, 
		#ConfigurationAPI-popUpDialog-bitmap-overlay,
		.bitmap-colorSample {
			image-rendering: 		optimizeSpeed;             /* NO SMOOTHING, GIVE ME SPEED    */
			image-rendering:		-moz-crisp-edges;          /* Firefox                        */
			image-rendering: 		pixelated; 				/* Chrome (and eventually Safari) */
			image-rendering: 		optimize-contrast;         /* CSS3 Proposed                  */	
			
			border:					0;
			outline: 				none; /* to stop firefox selection*/
			-webkit-user-select: 	none; /* prevent selection*/
			-moz-user-select: 		none;
			user-select:			none;
			/*pointer-events: 		none;  prevent drag by disabling ALL pointer events*/	
		}

		#ConfigurationAPI-popUpDialog-bitmap, 
		#ConfigurationAPI-popUpDialog-bitmap-overlay {
			cursor: pointer; 
			z-index: 1;
		}
		
		#ConfigurationAPI-popUpDialog-bitmap-grid {
			cursor: pointer;
		}
		
		.ConfigurationAPI-popUpDialog-bitmap-grid-box {
			border: 1px solid black;
			position: absolute;	
			z-index: 2;
		}

		.ConfigurationAPI-popUpDialog-bitmap-grid-row-dark,
		.ConfigurationAPI-popUpDialog-bitmap-grid-col-dark {			
			background-color: black; /* same as dialog */
			position: absolute;
			z-index: 3;
		}
		.ConfigurationAPI-popUpDialog-bitmap-grid-row,
		.ConfigurationAPI-popUpDialog-bitmap-grid-col {			
			background-color: #efeaea; /* same as dialog */
			position: absolute;
			z-index: 4; 
		}
		
		.ConfigurationAPI-popUpDialog-bitmap-btn-all {
			background-color: rgb(173, 162, 162);			
			border-top: 1px solid rgb(220, 217, 217);	
			border-left: 1px solid rgb(220, 217, 217);
			border-bottom: 1px solid rgb(49, 48, 48);
			border-right: 1px solid rgb(49, 48, 48);
			cursor: pointer;
		}
		
		
		#ConfigurationAPI-popUpDialog-bitmap-cursor-info,
		#ConfigurationAPI-popUpDialog-bitmap-cursor-hdrInfo {
			border: 1px solid rgb(49, 48, 48);
			background-color: rgb(216,188,188);	
			border-radius: 5px;
			padding: 5px;
			white-space: nowrap;
			z-index: 10;			
		}		
		
		.ConfigurationAPI-popUpDialog-bitmap-numbers-rowLeft div {
			text-align: right;
		}
		.ConfigurationAPI-popUpDialog-bitmap-numbers-rowRight div {
			text-align: left;
		}
		.ConfigurationAPI-popUpDialog-bitmap-numbers-colTop div,
		.ConfigurationAPI-popUpDialog-bitmap-numbers-colBottom div{
			text-align: center;
		}
		
		.ConfigurationAPI-popUpDialog-bitmap-btnInput {
			padding: 1px;
		}

		.ConfigurationAPI-popUpDialog-bitmap-colorSample {
			border: 1px solid black;
			border-radius: 3px;
		}
		
		.ConfigurationAPI-popUpDialog-bitmap-number {
			font-size: 12px;
			position: absolute;
			z-index: 1;
		}
		
		
		.ConfigurationAPI-EditableField {
			cursor: pointer;
			white-space: nowrap;
			width: 10000px; /* big number so that nowrap works even for small spaces */
		}
		
		.ConfigurationAPI-EditableField .editableFieldNode {
			margin-left: 		30px;
			float:				left;
			position:			relative;
		}

		.ConfigurationAPI-EditableField .editableFieldNode-Connection {
			border-left: 		1px solid rgb(44, 44, 187);
			border-bottom: 		1px solid rgb(44, 44, 187);
			width: 				24px;
			height:				17px; /* +1 for firefox */
			margin-top:  		-7px;
			position:			absolute;
		}

		.ConfigurationAPI-EditableField .editableFieldNode-Value {			
			float:				left;
		}
		

		.ConfigurationAPI-EditableField .editableFieldNode-Value-editIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEdit.png);
			width: 				24px;
			height: 			20px;
			float: 				left;
			border: 			0;
			margin: 			-2px 0 -7px 10px;
			display:			none;
		}
		.ConfigurationAPI-EditableField .editableFieldNode-Value-editIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
			cursor: 			pointer;
		}
		
		.ConfigurationAPI-EditableField-SelectedField {
			background-color:red;
		}
		
		
		
		
		