	
		body {
			background-color: 		white; 
		}
		
		b, h3, h1 { /* overwrite ConfigurationGUI.css:41 */
			color:					rgb(12, 10, 113);
		}
		
		/* make buttons and links have a hand cursor */
		input[type="button"], button, a {
			cursor: 				pointer;
		}
		
		.controlsPane {
			position:				absolute;			
			top:					-2px;
			z-index:				1002;
		}
		
		.controlsButton {
			-webkit-user-select: 	none;
			-moz-user-select: 		none;
			user-select:			none;
			
			overflow: 				hidden;				
			cursor: 				pointer;
			width: 					34px;
			height: 				36px;
			
			background-color: 		rgb(202, 204, 210);
			
			
			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
					inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
					rgb(150,150,150) 0 .1em 3px,
					rgb(175,175,175) 0 .2em 1px, /* color border */
					rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
		}

		.controlsButton:hover,
		.controlsButton:focus {
			background-color: 		rgb(225, 227, 233);
		}

		.controlsButton:active {
			background-color: 		rgb(202, 204, 210);
			-webkit-transform: 		translateY(.1em);
			-moz-transform: 		translateY(.1em);
			transform: 				translateY(.1em);
		}
				
		#directoryNavToggleTop {
			float: 					left;
			width: 					10px;
			height: 				4px;
			margin: 				6px 3px 0px 6px;
			border-right: 			3px solid transparent;
			border-bottom: 			4px solid white;
		}
		#directoryNavToggleBottom {
			background-color: 		white;
			float: 					left;
			width: 					24px;
			height: 				15px;
			margin: 				0px 3px 0px 5px;
		}

		#saveFileMain {
			border:					1px solid white;
			border-radius:			2px;
			float: 					left;
			width: 					21px;
			height: 				21px;
			margin: 				8px 3px 0px 6px;
		}
		#saveFileMainTop {
			border:					1px solid white;
			float: 					left;
			width: 					13px;
			height: 				10px;
			margin: 				-23px 0px 0px 10px;
		}
		#saveFileMainBottom {
			border:					1px solid white;
			float: 					left;
			width: 					7px;
			height: 				5px;
			margin: 				-7px 0px 0px 13px;
		}
				
		#theGridCanvas, #theCanvas, #theActionCanvas, #preCanvas, #postCanvas {
			position: 				absolute;
			left: 					0;
			top: 					0;
		}
		#theCanvas, #theActionCanvas {
			z-index:				1000;			
		}
		.node-point /*place on top of the canvas*/ {
			z-index:				1001;
		}
				
		.node {
			position:				absolute;
			cursor:					pointer;			
		}
		
		.node-box {
			background-color : 		rgb(241, 231, 231);			

			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
									inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
									rgba(200, 200, 200,0.6) 0 .1em 3px,
									rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
									rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
			border-radius: 			3px;	
			
			position:				absolute;
			cursor:					pointer;
		}
		
		.node-box:hover {

			background-color: 		rgb(230, 201, 201);

			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
									inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
									rgba(200, 200, 200,0.6) 0 .1em 3px,
									rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
									rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
		}		
		
		.node-point {
			background-color : 		rgb(206, 148, 148);
			border:					3px solid rgb(132, 92, 92);
			border-radius: 			9px;	
			width:					9px;
			height:					9px;

			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
									inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
									rgba(200, 200, 200, 0.6) 0 0 3px,
									rgba(200, 200, 200, 0.6) 0 0 1px,  /* color border */
									rgba(0,0,0,0.2) 0 0 5px;	/* drop shadow */
			
			position:				absolute;
			cursor:					pointer;
			display:				none;
		}
			
		.node-point:hover {
			background-color: 		rgb(230, 201, 201);
		}
		
		.node-boxText {
			width: 					100%;
			text-align: 			center;
			color: 					black;

			-webkit-user-select: 	none;
			-moz-user-select: 		none;
			user-select:			none;
			
			margin-top: 			43px;
		}
		
		.node-headerText {		
			-webkit-user-select: 	none;
			-moz-user-select: 		none;
			user-select:			none;
			
			text-align: 			center;
			color: 					black;			
			font-size: 				10px;
			position: 				absolute;
			
			white-space:			nowrap;
			overflow:				hidden;
		}
		.node-headerTextHover {
			z-index:				3000; /*get above arrows*/
			

			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
									inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
									rgba(200, 200, 200,0.6) 0 .1em 3px,
									rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
									rgba(0,0,0,0.2) 0 .3em 5px;	/* drop shadow */
									
			background:				white;
			padding:				5px;
			overflow-x:				auto;
		}
		
		#createNodeDiv {
			background-color: 		rgb(195, 230, 193);	
			cursor:					pointer;
			width: 					32px;
			height: 				32px;
			border-radius: 			32px;
			border: 				0px solid rgb(6, 82, 9);
			
			box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
									inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
									rgba(200, 200, 200,0.6) 0 .1em 3px,
									rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
									rgba(0,0,0,0.2) 0 .3em 5px;	/* drop shadow */
			
			left:					-1000px;			
			position: 				absolute;
		    z-index:				2000; 	/* to place on top of everything */
		}
		
		#createNodeDiv:hover {
			background-color: 		rgb(215, 255, 213);			
		}

		#createNode {
			margin: 				1px 16px -10px 8px;
			float:					left;
			
			text-decoration: 		none;			
			font-size: 				30px;
			font-weight: 			bold;
			color: 					rgb(15, 152, 76);
		}
		
		#selectionBoxDiv {
			border:					1px dashed gray;
			
			left:					-1000px;			
			position: 				absolute;
			z-index:				2000;
		}

		.node-icon {
			position:			absolute;
			display:			none;	
			z-index:			1001; /* same as node anchor points */
		}
				
		.node-editIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEdit.png);
			width: 				24px;
			height: 			20px;
			float: 				left;
			border: 			0;
			margin: 			-9px 0 -7px -4px;
		}
		.node-editIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
			cursor: 			pointer;
		}
		
		.node-deleteIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCan.png);
			width: 				16px;
			height: 			20px;
			border: 			0;
			margin: 			-8px 0 -10px 6px;
		}
		.node-deleteIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCanHover.png);
			cursor: 			pointer;
		}
		
		.node-viewFclIcon {
		    border: 			2px solid rgb(202, 204, 210);
		    width: 				16px;
		    height: 			20px;
		    border-radius: 		2px;
		    margin: 			-10px 0 0 2px;
		    background:			white;
		}
		.node-viewFclIcon:hover {
			border: 			2px solid rgb(101, 173, 199);
		}
		.node-viewFclIcon:hover * {
			border-color: 		rgb(101, 173, 199);
		}
		.node-viewFclIcon-line {
			border-top: 		2px solid rgb(202, 204, 210);
			border-bottom: 		2px solid rgb(202, 204, 210);
			height: 			2px;			    
			width:				12px;
			float:				left;
			margin:				3px 0 -1px 2px;
		}    

		.grid-plusMinusArrows {
			position:			absolute;
			z-index:			1001;
			display:			none;
		}
		.grid-plusMinusArrows-arrow {
			cursor:				pointer;
		}
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-down-body, 
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-up-body, 
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-left-body, 
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-right-body {
			background-color:	rgb(101, 173, 199);
		}
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-down-point {
			border-top-color:	rgb(101, 173, 199);
		}
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-up-point {
			border-bottom-color:rgb(101, 173, 199);
		}
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-left-point {
			border-right-color:	rgb(101, 173, 199);
		}
		.grid-plusMinusArrows-arrow:hover 
		.grid-plusMinusArrows-right-point {
			border-left-color:	rgb(101, 173, 199);
		}

		.grid-plusMinusArrows-upDown {
			width:				100px;
			height:				30px;
		}
		.grid-plusMinusArrows-leftRight {
			width:				30px;
			height:				100px;
		}
		.grid-plusMinusArrows-down {
			float:				left;
		}
		.grid-plusMinusArrows-up {
			float:				right;
			margin-top:			-6px;
		}
		.grid-plusMinusArrows-left {
			float:				left;
		}
		.grid-plusMinusArrows-right {
			float:				left;
			margin:				50px -6px 0 6px;
		}
		.grid-plusMinusArrows-down-body,
		.grid-plusMinusArrows-up-body {
			display: 			block; 
			margin-left: 		5px; 
			height:				16px;
			width: 				14px; 
			background-color: 	rgb(202, 204, 210);
		} 
		.grid-plusMinusArrows-down-point {
			display: 			block; 
			width: 				0; 
			height: 			0;
			border-left: 		12px solid transparent; 
			border-right: 		12px solid transparent; 
			border-top: 		14px solid rgb(202, 204, 210);
		}
		.grid-plusMinusArrows-up-point {
			display: 			block; 
			width: 				0; 
			height: 			0;
			border-left: 		12px solid transparent; 
			border-right: 		12px solid transparent; 
			border-bottom: 		14px solid rgb(202, 204, 210);
		}
		.grid-plusMinusArrows-left-body,
		.grid-plusMinusArrows-right-body {
			display: 			block;
			float:				left;
			margin-top: 		5px; 
			height:				14px;
			width: 				16px;
			background-color: 	rgb(202, 204, 210);
		} 
		.grid-plusMinusArrows-left-point {
			display: 			block; 
			float:				left;
			width: 				0; 
			height: 			0;
			border-top: 		12px solid transparent; 
			border-bottom: 		12px solid transparent; 
			border-right: 		14px solid rgb(202, 204, 210);
		}
		.grid-plusMinusArrows-right-point {
			display: 			block; 
			float:				left;
			width: 				0; 
			height: 			0;
			border-top: 		12px solid transparent; 
			border-bottom: 		12px solid transparent; 
			border-left: 		14px solid rgb(202, 204, 210);
		}
		
		.preloadImage {			
			width: 				24px;
			height: 			20px;
			position:			absolute;
			left: 				-100px;
			top: 				0;
		}
		#preloadImage-treeEditTrashIconHover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-trashCanHover.png);
		}
		#preloadImage-treeEditIconHover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
		}
		