

		
		#ConfigurationAPI-popUpDialog {
			position: absolute;
			z-index: 1000;    
			border: 1px solid #770000;
		    background-color: #efeaea;
		    text-align: center;
		    padding: 10px;
			font-size: 16px;
			font-family: 'Inconsolata', monospace;	
		}
		
		#ConfigurationAPI-popUpDialog #clearDiv {
			clear: both;
		}
		
		#ConfigurationAPI-popUpDialog a {
			color: rgb(44, 44, 187);
		}
		
		#ConfigurationAPI-popUpDialog a:hover {
			pointer: cursor;
		}
		
		#ConfigurationAPI-popUpDialog b, 
		#ConfigurationAPI-popUpDialog h3, 
		#ConfigurationAPI-popUpDialog h1 {
			color: rgb(65, 86, 146);
			font-size: 20px;
		}
		
		#ConfigurationAPI-popUpDialog .bold-header {
			color: rgb(81, 152, 204);
			font-size: 16px;
		}
		
		/*firefox seems to put an extra pixel of letter-spacing in bold words*/
		/* this seems to have been fixed by choosing the correct truetype font in font.css*/
		/*target firefox*/
		/*@-moz-document url-prefix() {  
			#ConfigurationAPI-popUpDialog b, #ConfigurationAPI-popUpDialog th {
				letter-spacing: -1px;
			}
			#ConfigurationAPI-popUpDialog h1, 
			#ConfigurationAPI-popUpDialog h2, 
			#ConfigurationAPI-popUpDialog h3, 
			#ConfigurationAPI-popUpDialog h4, 
			#ConfigurationAPI-popUpDialog h5, 
			#ConfigurationAPI-popUpDialog h6 {
				letter-spacing: -2px;
			}
		}*/
		
		/* make buttons have a hand cursor */
		#ConfigurationAPI-popUpDialog input[type="button"], 
		#ConfigurationAPI-popUpDialog button {
			cursor: pointer;
		}
		
		.ConfigurationAPI-popUpDialog-editIcon {			
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEdit.png);
			width: 				24px;
			height: 			20px;
			float: 				left;
			border: 			0;
			margin: 			-2px 0 -7px 10px;
			display:			none;
		}
		.ConfigurationAPI-popUpDialog-editIcon:hover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
			cursor: 			pointer;
		}
		
		.ConfigurationAPI-popUpDialog-preloadImage {			
			width: 				24px;
			height: 			20px;
			position:			absolute;
			left: 				-100000px;
			top: 				-100000px;
		}
		#ConfigurationAPI-popUpDialog-preloadImage-editIconHover {
			background-image: 	url(/WebPath/images/windowContentImages/ConfigurationGUI-pencilEditHover.png);
		}
		
		
		/* bitmap CSS */
		
		.ConfigurationAPI-popUpDialog-bitmapDialog div {
			outline: 				none; /* to stop firefox selection*/
			-webkit-user-select: 	none; /* prevent selection*/
			-moz-user-select: 		none;
			user-select:			none;
		}
		
		#ConfigurationAPI-popUpDialog-bitmap, 
		#ConfigurationAPI-popUpDialog-bitmap-overlay,
		.bitmap-colorSample {
			image-rendering: 		optimizeSpeed;             /* NO SMOOTHING, GIVE ME SPEED    */
			image-rendering:		-moz-crisp-edges;          /* Firefox                        */
			image-rendering: 		pixelated; 				/* Chrome (and eventually Safari) */
			image-rendering: 		optimize-contrast;         /* CSS3 Proposed                  */	
			
			border:					0;
			outline: 				none; /* to stop firefox selection*/
			-webkit-user-select: 	none; /* prevent selection*/
			-moz-user-select: 		none;
			user-select:			none;
			/*pointer-events: 		none;  prevent drag by disabling ALL pointer events*/	
		}

		#ConfigurationAPI-popUpDialog-bitmap, 
		#ConfigurationAPI-popUpDialog-bitmap-overlay {
			cursor: pointer; 
			z-index:1;
		}
		
		#ConfigurationAPI-popUpDialog-bitmap-grid {
			cursor: pointer;
		}
		
		.ConfigurationAPI-popUpDialog-bitmap-grid-box {
			border: 1px solid black;
			position: absolute;	
			z-index:2;
		}

		.ConfigurationAPI-popUpDialog-bitmap-grid-row-dark,
		.ConfigurationAPI-popUpDialog-bitmap-grid-col-dark {			
			background-color: black; /* same as dialog */
			position: absolute;
			z-index:3;
		}
		.ConfigurationAPI-popUpDialog-bitmap-grid-row,
		.ConfigurationAPI-popUpDialog-bitmap-grid-col {			
			background-color: #efeaea; /* same as dialog */
			position: absolute;
			z-index:4; 
		}
		
		
		
		
		
		
		
		
		