body {
	background-color: 		white; 
	overflow: 				hidden;	
}

b, h3, h1 { /* overwrite ConfigurationGUI.css:41 */
	color:					rgb(12, 10, 113);
}

.mainBlockContainer {
	display: flex;
	flex-direction: column;
}

.dtcBlockContainer {
	display: flex;
	flex-direction: row;
}

.dtcBox {
	border-radius: 20%;
	width: 80px;
    height: 20px;
	background-color: gray;
	margin: 4px;
	float: left;
	border: 2px solid black;
	font-size: 10px;
}

.rocBox {
	width: 70px;
    height: 20px;
	background-color: gray;
	margin: 4px;
	float: right;
	font-size: 10px;
}