@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  font-style: normal;
  src: url('/WebPath/fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-style: normal;
  src: url('/WebPath/fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-style: normal;
  src: url('/WebPath/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-style: normal;
  src: url('/WebPath/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Donegal One';
  font-weight: 400;
  font-style: normal;
  src: url('/WebPath/fonts/donegalone/DonegalOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  src: url('/WebPath/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-style: normal;
  src: url('/WebPath/fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
}
