.controlButtons      {
		      background-color : #ffffff ; !important
                     }
.histogram-leaf-icon {
                      background-image: url(../images/histogram.gif) !important;
                     }
.x-tree-icon-custom  {
                      background-image: url(../images/folder.gif)    !important;
                     }
