.controlButtons      {
		      background-color : #ffffff ; !important
                     }
.x-tree-icon-leaf    {
                      background-image: url(../images/histogram.gif) !important;
                     }
.isticket            {
                      background-image: url(../images/histogram2d.gif) !important;
                     }
.x-tree-icon-parent  {
                      background-image: url(../images/folder.gif)    !important;
                     }
