
	* {
		margin: 			0;
		spacing: 			0;
		padding: 			0;
		color:				white;
		font-family: 		'Comfortaa', serif; /*'Donegal One', serif;*/		
	}
	
	body {
		background-color: rgb(0,76,151);
		margin: 0px;
		overflow: hidden;
	}
	
	a {
		color:				white;
		text-decoration:	none;
		outline: 			none;  /* to stop firefox selection*/
		-webkit-user-select: 	none; /* to stop text highlights */
		-moz-user-select: 		none;
		user-select: 			none;	
	}
	
	a:hover {text-decoration:underline;}
	
	#clearDiv {
		clear: 				both;
	}
	
	input, select {
		padding: 			1px;
		cursor: 			pointer;
		font-size:			11px;
	}	
		
	/*firefox seems to put an extra pixel of letter-spacing in bold words*/
	@-moz-document url-prefix() {  /*target firefox*/
	/*	b, th {
			letter-spacing: -1px;
		}
		h1, h2, h3, h4, h5, h6 {
			letter-spacing: -2px;
		}  commented out by RAR 5/29/2017.. seems to be creating problems for pages not expecting it in firefox */
	}