* {
	margin: 0;
	spacing: 0;
	padding: 0;
	color:white;
}

body {
	background-color: #0f2269;
	margin: 0px;
	overflow: hidden;
}

a {
	color:white;
	text-decoration:none;
	outline: none;  /* to stop firefox selection*/	
}

a:hover {text-decoration:underline;}

#clearDiv {
	clear: both;
}
