

		body {	
			padding:0;
			margin:0;
			background-color:white;
		}

		/* make links have a hand cursor */
		a {
			cursor: pointer;
		}
		
		h3 {
			font-family: "Comfortaa";
		}
				
		#subsystemDiv div, #refreshLink a {
			color: rgb(136, 102, 102);
			font-size: 20px;
			font-family: "Comfortaa";
		}

		
		.linkDiv {
			border: 0;
			border-radius: 20px;
			position: absolute;
		}


		#subsystemDiv, #launchDiv, #runDiv, #runStatusDiv {
			position: absolute;
			display: none;
		}		
		#subsystemDivContainer {

			overflow: auto;
		}
		
		#subsystemDiv {
			padding: 2px 2px 2px 10px;
			
			border: 2px solid rgb(193, 187, 187);
			border-radius: 10px;			
		}
		
		.ssCheckbox {
			float: left;
		}	
	
		#launchDiv {
			background-color: red;
			box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
					inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
					rgb(141, 76, 76) 0 .1em 3px,
					0px 10px 0px rgb(107, 23, 23);
			border-radius: 300px/200px;
			text-align:center;
		    font-size: 30px;
		    font-family: arial;
		    color: white;
		    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
		}

		#launchDiv:active {
			margin-top:	10px;
			box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
					inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
					rgb(100,100,100) 0 .1em 3px;
		}
		
		#launchLink  {
			position: absolute;
			border: 0;
			-webkit-user-select: 	auto; /* prevent highlight selection (does not stop ghost images, must use el.ondragstart = function() {return false;}; */
			-moz-user-select: 		none;
			user-select:			none;
			outline: none;  /* to stop firefox selection*/	
		}	
		
		#runDiv {
			background-color: rgb(48, 191, 48);
			box-shadow: inset rgba(254,255,255,0.6) 0 0.3em .3em,
					inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
					rgb(76, 141, 76) 0 .1em 3px,
					0px 10px 0px rgb(23, 107, 23);
			border-radius: 300px/200px;
			text-align:center;
			font-size: 30px;
			font-family: arial;
			color: white;
			text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
		}
		
		#runDiv:active {
			margin-top:	10px;
			box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em,
					inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
					rgb(100,100,100) 0 .1em 3px;
		}
		
		#runLink  {
			position: absolute;
			border: 0;
			-webkit-user-select: 	auto; /* prevent highlight selection (does not stop ghost images, must use el.ondragstart = function() {return false;}; */
			-moz-user-select: 		none;
			user-select:			none;
			outline: none;  /* to stop firefox selection*/	
		}	
		
		#runStatusDiv {
			text-align:left;
		
			padding: 20px;
			color: rgb(136, 102, 102);			
		}
		
		
		
		
		
		
		
		
		
		
		