
body {
    background-color: 		rgb(226, 216, 216);
    font-family: 			'Inconsolata', monospace;
    overflow: 				scroll;
}

a:hover {
	cursor:					pointer;
}


h1, h2, h3 {
	color: 					rgb(65, 86, 146);
	text-size:				28px;
}

#clearDiv {
	clear: 					both;
}

/*================ HEADER ===============*/
#headerDiv {
    margin: 				-10px 10px 0px 10px;
    text-align:				center;
    width: 					100%;
}

#toggleFiltersLinkDiv {
	float:					left;
	text-decoration:		underline;
	color:					rgb(65, 86, 146);
	margin: 				0px 0 2px -5px;
}

#lastUpdateTimeDiv {
	margin-top: 			-20px;
}

/*================ FILTERS ===============*/
#filtersDiv {
    float: 					left;
    margin-left:			-3px;
    margin-right: 			10px;
    display: 				none;
    
	box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
			            	inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							rgba(200, 200, 200,0.6) 0 .1em 3px,
							rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	border-radius: 			3px;	

    overflow: 				auto;
}

#filtersDiv h2 {
    margin: 				5px 10px;
    color:					rgb(95, 96, 99);    
}

.collapsible {
    background-color: 		#777;
    color: 					white;
    cursor: 				pointer;
    padding: 				18px;
    width: 					100%;
    border: 				none;
    text-align: 			left;
    outline: 				none;
    
    font-size: 				18px;
    font-family: 			'Inconsolata', monospace;
    font-weight:			bold;
 }

.collapsible:hover {
    background-color: 		#555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.collapsible:hover .helptext {
    visibility: 			visible;
    font-size: 				14px;
}

/* Tooltip text */
.helptext {
    visibility: 			hidden;
    width: 					120px;
    background-color: 		black;
    color: 					#fff;
    text-align: 			center;
    padding: 				5px 0;
    border-radius:			6px;
   
    /* Position the tooltip text */
    position: 				absolute;
    z-index: 				1;
    margin: 				-4px 0 0 20px;
}

.filterList {
    padding: 				0 10px;
    display: 				none;
    background-color: 		#f1f1f1;
}

.filterList li {
	white-space:			nowrap;
	margin-right:			10px;
    width:					100%;
    cursor:					pointer;
}

.filterList ul {
    list-style-type: 		none;
    margin:					0;
    padding:				10px;
    width:					100%;
    background-color: 		#f1f1f1;
}

.filterList ul li:hover {
    background-color: 		yellow;
    cursor: 				pointer;
}


/*================ APP STATUS ===============*/
#appStatusDiv {
    float: 					left;
    margin-left:			-3px;
    width:					1px; /* otherwise will not display? */
}

#appStatusDiv table {
	background-color: 		rgb(210, 193, 193);
	border:					1px solid gray;
}

#appStatusDiv td {
	white-space:			nowrap;
	padding:				0 10px 0 10px;
	height: 				17px;
	background-color: 		rgb(226, 216, 216);
}

#appStatusDiv th {
	background-color: 		rgb(210, 193, 193);
	font-weight:			bold;
	white-space:			nowrap;
	border: 				2px solid rgb(226, 216, 216);
}

.progressBar {
	background-color: 		rgb(0,205,30);	
	margin: 				-17px -10px 0 -10px;
	height:					100%;
    text-align: 			center;
}

.statusCell {
	box-shadow: 			inset rgba(255,254,255,0.6) 0 0.3em .3em,
							inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							rgba(200, 200, 200,0.6) 0 .1em 3px,
							rgba(200, 200, 200,0.6) 0 .1em 1px,  /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	color:					black;
	text-weight:			bold;
	text-shadow: 			0px 1px 0px rgba(255,255,255,.3), 
							0px -1px 0px rgba(0,0,0,.7);
}











