
	#Viewer3d-hudMouseOver * { 
		-webkit-user-select: 	none;
		-moz-user-select: 		none;
		user-select:			none;
	}
		
	#Viewer3d-hudMouseOver {
		padding: 5px;
	}
	
	#Viewer3d-hud {
		background-color: rgb(70,70,70);	
		border: 1px solid white;
		border-radius: 5px;		
		padding: 10px;	
	}
	
	#Viewer3d-hudEventNumberControls {
		display: none;
		font-size: 12px;		
	}

	#Viewer3d-hudRunNumberControls {
		font-size: 12px;		
	}
	
	#Viewer3d-hudRunNumberControls input[type=text] {
		-webkit-user-select: 	text;
		-moz-user-select: 		text;
		user-select:			text;	
		width: 60px;
		padding-left: 5px;
	}
	
	
	